.screen-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--horizontal-space);
    margin-bottom: 15px;
}
.screen-header__title {
    font-size: 32px;
    font-weight: 600;
}
.screen-header__icons span{
    position: relative;
    margin-left: 10px;
}
.screen-header__icons span .badge__small {
    left: 23px;
    bottom: 23px;
}
